---
layout: default
---

<article>

	<div class="center">
		<h1 class="title">{{ page.title }}</h1>
		<time class="code">{{ page.date | date: '%B %-d, %Y' }} {% if page.categories %} | {% endif %}</time>

			  {% if page.categories %}
				  {% for cat in page.categories %}
				  	<cats>
				    <a href="{{ site.baseurl }}/categories/#{{ cat | slugize }}">{{ cat }}</a>{% unless forloop.last %}, {% endunless %}
					</cats>
				  {% endfor %}
			  {% endif %}

	</div>

	{% if page.tags %}
		<p><div class = "center"><small>Tags:
			{% for tag in page.tags %}
				<cats>
				<a href="{{ site.baseurl }}/tag/{{tag | slugify }}">{{tag | capitalize}}</a>{% unless forloop.last %}, {% endunless %}
				</cats>
			{% endfor %}
		</small></div></p>
	{% endif %}

	<div class="divider"></div>

	{{ content }}

</article>

<div class="page-navigation code">
	{% if page.next.url %}
    <a class="next" href="{{ page.next.url | prepend: site.baseurl | prepend: site.url }}" title="NEXT: {{page.next.title}}">&lt;&lt;</a>
		<span> &middot; </span>
  {% endif %}
		<a class="home" href="{{ "/" | prepend: site.baseurl | prepend: site.url }}" title="Back to Index">Index</a>
  {% if page.previous.url %}
		<span> &middot; </span>
    <a class="prev" href="{{ page.previous.url | prepend: site.baseurl | prepend: site.url }}" title="PREV: {{page.previous.title}}">&gt;&gt;</a>
  {% endif %}
</div>

<div class="center">
	<b></b>
	{% include share.html %}
</div>

<div class="disqus_layout">
	{% include disqus.html %}
</div>
