---
layout: page
---

<section>
    {% for post in site.tags[page.tag] %}
    <ul>
      <li>
       <div class="post-date code"><span>{{ post.date | date: "%b %d" }}</span></div>
       <div class="title"><a href="{{ post.url }}">{{ post.title }}</a></div>
      </li>
    </ul>
    {% endfor %}
</section>

<div class="divider"></div>

<cats>
  <div class="center">
      {% for tag in site.tags %}
        <a href="{{ base.url }}/tag/{{ tag[0] | slugify }}">{{ tag[0] | replace: "-", " " }}</a>&nbsp;({{ tag[1].size }}){% unless forloop.last %} {% endunless %}
      {% endfor %}
  </div>
</cats>
